/* cursor.css */
body {
  cursor: none;
  background: rgba(0, 0, 0, 0.489);
}

.cursor-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}

/* Hide cursor effect on tablets & phones (≤1024px) */
@media (max-width: 1024px) {
  body {
    cursor: auto; /* restore normal cursor */
  }

  .cursor-canvas {
    display: none;
  }
}
