.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    font-size: 40px;
    cursor:default;
}

.main h1,
.main h2,
.main p {
    margin: 0; /* Remove default margins */
    padding: 0;
}
.cursor {
    display: inline-block;
    width: 1px;
    background-color: black;
    animation: blink 0.7s steps(1) infinite;
    margin-left: 2px;
  }
  
  @keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
  }
  